@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Management System</h1>
    <p>In dit systeem kan je jouw <a asp-controller="Products" asp-action="Index">voorraad beheren</a></p>
</div>
